.card {
    max-width: 600px;
    margin: 0 auto 50px;


}

img {
    border-start-end-radius: 5px;
    border-start-start-radius: 5px;
}

#header {
    padding: 30px;
}

h1 {
    text-align: center;
    color: #333333;
}

h3 {
    color: #333333;
}

#footer {
    padding: 30px;
    background-color: #333333;
    width: 100%;
    margin-top: 80px;
}

#p {
    padding-top: 10px;
    color: #333333;
}

#info {
    padding: 20px
}


#pfooter {
    color: white;
    text-align: center;


}

body {
    background-color: #e6e6e6;
}

#button {
    color: white
}